.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.App-description {
 font-size: 1em;
 font-weight: 100;
 font-style: italic;
}
